html{
  scroll-behavior: smooth;
}
nav{
    padding-left: 200px;
    padding-right: 200px;
    
   
    
}
.nav-colored
{
  background-color: black;
}
.nav-transparent
{
  background-color: transparent;
}
nav  a{
    color:wheat;
}
nav ul li{
    margin-left: 30px;
}

.community
{
  /* background-image: url('images/trading1.jpg'); */
  background-color: blueviolet;
  /* background-repeat: no-repeat;
  background-size: cover; */
  color: rgb(188, 210, 229);
  padding-top: 150px;
  padding-bottom: 100px;
}

.education
{
  /* background-image: url('images/trading2.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  color: black;
  padding-top: 60px;
  padding-bottom: 60px;
}

.aboutUs
{
  /* background-image: url('images/trading2.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  padding-top: 100px;
  padding-bottom: 100px;
}

.aboutUs h4
{

  margin-left: 150px;
  margin-right: 150px;
}

.contact
{
  padding: 40px 40px 40px 40px;
}

.community a{
    color: white;
}

#communit-p-1
{
  font-size: 40px;
}




